* {
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome/iOS/Android */
  box-sizing: border-box;
  /* IE */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ae2625;
}

/*--- navigation bar ---*/
.navbar {
  /* nav bar is not changing color when resizing */
  background: radial-gradient(farthest-corner 480px 580px,
      #fcfde1 20%,
      #afe1ec 50%,
      #edccd8 70%);
}

.navbar-brand {
  color: #63b342;
  cursor: pointer;
}

.navbar-brand:hover img {
  opacity: 0.5;
}

.nav-link {
  color: #e96964;
  margin-right: 2em !important;
  font-size: 1.2rem;
  font-weight: 400;
}

.nav-link:hover {
  color: #ae2625;
}

.navbar-collapse {
  justify-content: flex-end;
}

#main {
  position: relative;
}

#main h1 {
  position: absolute;
  z-index: 1;
  margin: 0 206px;
  font-size: 56px;
  font-weight: 100;
  font-family: cursive;
  color: #ae2625;
}

#main h4 {
  position: absolute;
  z-index: 1;
  margin: 60px 0 0 230px;
  font-size: 12px;
  font-weight: 100;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #573f24;
}

#main img {
  position: relative;
  margin: 30px 0 0 50px;
  width: 70%;
  height: auto;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    background: radial-gradient(farthest-corner at 120px 120px,
        #fcfde1 20%,
        #afe1ec 50%,
        #edccd8 70%);
    background-repeat: no-repeat;
  }

  #main {
    position: relative;
  }

  #main h1 {
    position: absolute;
    z-index: 1;
    margin: 0 583px;
    font-size: 126px;
    font-weight: 100;
    font-family: cursive;
    color: #ae2625;
  }

  #main h4 {
    position: absolute;
    z-index: 1;
    margin: 130px 0 0 630px;
    font-size: 26px;
    font-weight: 100;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    color: #573f24;
  }

  #main img {
    position: relative;
    margin: 70px 0 0 50px;
    width: 70%;
    height: auto;
  }
}

h1 {
  color: #ae2625;
  font-style: cursive;
  margin-right: 50px;
}

.slideshow {
  width: 600px;
  height: auto;
  overflow: hidden;
  border-radius: 3%;
}

.middle {
  position: absolute;
  top: 75%;
  left: 80%;
  transform: translate(-50%, 60%);
}

.navigation {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.bar {
  width: 50px;
  height: 10px;
  border: 2px solid #fff;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}

.bar:hover {
  background: white;
}

input[name="r"] {
  position: absolute;
  visibility: hidden;
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slide {
  width: 20%;
  transition: 0.6s;
}

.slide img {
  width: 100%;
  height: 100%;
}

#r1:checked~.s1 {
  margin-left: 0;
}

#r2:checked~.s1 {
  margin-left: -20%;
}

#r3:checked~.s1 {
  margin-left: -40%;
}

#r4:checked~.s1 {
  margin-left: -60%;
}

/* @font-face {
  font-family: "CustomFont";
  src: url(../mak/MAK-bold.otf);
  src: url("../CustomFont.woff") format("woff"),
    url("CustomFont.otf") format("opentype"),
    url("CustomFont.svg#filename") format("svg");
}

@font-face {
  font-family: "CustomFont";
  src: url("https://yoursite.com/css/fonts/CustomFont.eot");
  src: url("https://yoursite.com/css/fonts/CustomFont.woff") format("woff"),
    url("https://yoursite.com/css/fonts/CustomFont.otf") format("opentype"),
    url("https://yoursite.com/css/fonts/CustomFont.svg#filename") format("svg");
} */

#carouselExampleSlidesOnly {
  margin: auto;
  width: 100%;
  height: 50%;
}

#carouselExampleDark {
  margin: auto;
  width: 100%;
  height: 50%;
}

/* Neon Button styles */
/* section {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  flex-direction: column;
  margin: 0 auto;
}

a:nth-child(1) {
  filter: hue-rotate(290deg);
}
a:nth-child(2) {
  filter: hue-rotate(190deg);
}
a:nth-child(3) {
  filter: hue-rotate(110deg);
}
section a {
  color: #03e9f4;
  position: relative;
  display: block;
  padding: 25px 30px;
  margin: 50px 0 50px 0;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 4px;
  transition: 0.5s;
  -webkit-box-reflect: below 1px linear-gradient(transition, #0005);
}
section a:hover {
  text-decoration: none;
  background-color: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4;
  box-shadow: 0 0 25px #03e9f4;
  box-shadow: 0 0 50px #03e9f4;
  box-shadow: 0 0 200px #03e9f4;
}
a span {
  position: absolute;
  display: block;
}
a span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
a span:nth-child(2) {
  top: -100;
  right: 0;
  width: 2px;
  height: 100px;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
h1 {
  color: #1891c9;
}
h3 {
  color: #c46793;
}
a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}
h1 {
  color: #1891c9;
}
h3 {
  color: #c46793;
}
a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
h1 {
  color: #1891c9;
}
h3 {
  color: #c46793;
}
 */
/*Footer styles  */
.page-footer {
  background-color: #edf2ef;
  margin: 800px 0 0 0;
  color: #ae2625;
  padding-top: 10px;
  clear: both;
}

.page-footer,
h1 {
  font-style: cursive;
}

.footer-copyright {
  color: #666;
  padding: 5px 0;
  clear: both;
  text-align: center;
}